[Unit]
Description=NginX
After=registrator.service network.target
Requires=registrator.service
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull onelove/nginx
ExecStart=/usr/bin/docker run -p 80:80 -p 443:443 --name nginx {{ onelove_docker_default_arguments }} onelove/nginx
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target
