[Unit]
Description=PostgreSQL
After=registrator.service network.target
Requires=registrator.service
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/bin/mkdir -p /var/lib/docker/volumes/postgresql
ExecStartPre=-/usr/bin/docker kill postgresql
ExecStartPre=-/usr/bin/docker rm postgresql
ExecStartPre=/usr/bin/docker pull postgres:latest
ExecStart=/usr/bin/docker run -P -e SERVICE_TAGS=master -e POSTGRES_PASSWORD={{ db_password }} -v /var/lib/docker/volumes/postgresql:/var/lib/postgresql/data {{ onelove_docker_default_arguments }} --name postgresql postgres
ExecStop=/usr/bin/docker stop postgresql

[Install]
WantedBy=multi-user.target
