upstream app_server {
    server unix:/tmp/onelove.sock fail_timeout=0;
}

server {
    listen 80;
    server_name _default_;
    root /var/empty;

    location / {
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://app_server;
    }

    location /static/ {
        alias /vagrant/web/static/;
    }
}
