[uwsgi]
virtualenv = /home/vagrant/.virtualenvs/web
thread = 3
master = 1
env = DJANGO_SETTINGS_MODULE=project.settings
module = django.core.wsgi:get_wsgi_application()
chdir = /var/www/onelove
plugins = python
cheap = yes
