[Unit]
Description=OneLove
After=postgres.service
Requires=postgres.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill onelove
ExecStartPre=-/usr/bin/docker rm onelove
ExecStartPre=/usr/bin/docker pull mekanix/api
ExecStart=/usr/bin/docker run --link postgres:db --name onelove --rm mekanix/api
ExecStop=/usr/bin/docker stop onelove
