[Unit]
Description=OneLove
After=postgres.service
Requires=postgres.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill onelove
ExecStartPre=-/usr/bin/docker rm onelove
ExecStartPre=/usr/bin/docker pull onelove
ExecStart=/usr/bin/docker run --name onelove onelove
ExecStop=/usr/bin/docker stop onelove

