[Unit]
Description=PostgreSQL
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStartPre=/usr/bin/docker pull postgres
ExecStart=/usr/bin/docker run -p 5432:5432 --name postgres postgres
ExecStop=/usr/bin/docker stop postgres
