[Unit]
Description=OneLove
After=postgresql.service network.target
Requires=postgresql.service
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill api
ExecStartPre=-/usr/bin/docker rm api
ExecStartPre=/usr/bin/docker pull onelove/api
ExecStart=/usr/bin/docker run -P {{ docker_api_container_args }} --dns 172.17.42.1 --name api --rm --volumes-from consul-template onelove/api {{ docker_api_args }}
ExecStop=/usr/bin/docker stop api

[Install]
WantedBy=multi-user.target
