[Unit]
Description=OneLove
After=registrator.service network.target
Requires=registrator.service
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill api
ExecStartPre=-/usr/bin/docker rm api
ExecStartPre=/usr/bin/docker pull onelove/api
ExecStart=/usr/bin/docker run -P --name api {{onelove_docker_default_arguments}} onelove/api
ExecStop=/usr/bin/docker stop api

{% if onelove_enable_service == "yes" %}
[Install]
WantedBy=multi-user.target
{% endif %}
