[Unit]
Description=NginX
After=registrator.service network.target
Requires=registrator.service
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull onelove/nginx
ExecStart=/usr/bin/docker run -p 80:80 -p 443:443 --volumes-from api --dns 172.17.42.1 --name nginx --rm --volumes-from consul-template onelove/nginx
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target
