[Unit]
Description=NginX
After=api.service
Requires=api.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull onelove/nginx
ExecStart=/usr/bin/docker run -p 80:80 --volumes-from api --dns 172.17.42.1 --name nginx --rm onelove/nginx
ExecStop=/usr/bin/docker stop nginx
