[Unit]
Description=OneLove
After=registrator.service network.target
Requires=registrator.service
Wants=network.target

[Service]
TimeoutStartSec=0
Environment='FLASK_CONFIG={{ onelove_config }}'
ExecStartPre=-/usr/bin/docker kill onelove
ExecStartPre=-/usr/bin/docker rm onelove
ExecStartPre=/usr/bin/docker pull onelove/backend
ExecStart=/usr/bin/docker run -p 9000 --name onelove {{ onelove_docker_default_arguments }} --link mongodb:mongodb --link rabbitmq:rabbitmq onelove/backend
ExecStop=/usr/bin/docker stop onelove

[Install]
WantedBy=multi-user.target
