[Unit]
Description=OneLove
After=registrator.service network.target
Requires=registrator.service
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill onelove
ExecStartPre=-/usr/bin/docker rm onelove
ExecStartPre=/usr/bin/docker pull onelove/api
ExecStart=/usr/bin/docker run -P --name onelove {{ onelove_docker_default_arguments }} onelove/api
ExecStop=/usr/bin/docker stop onelove

[Install]
WantedBy=multi-user.target
