[program:workers]
command=vex workers celery -A workers worker --loglevel=INFO
autostart=true
autorestart=true
stdout_logfile=/var/log/one-love/workers.log
stderr_logfile=/var/log/one-love/workers.log
user={{ webapp_user }}
directory=/home/{{ webapp_user }}
killasgroup=true
stopwaitsecs=15
