[program:celery]
command=/home/{{ api_user }}/.virtualenvs/api/bin/celery -A onelove worker --workdir=/var/www/onelove -l info
autostart=true
autorestart=true
stdout_logfile=/var/log/one-love/celery.log
stderr_logfile=/var/log/one-love/celery.log
user={{ api_user }}
killassgroup=true
directory=/home/{{ api_user }}
