[Unit]
Description=MongoDB
After=registrator.service networking.target
Requires=registrator.service
Wants=networking.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/bin/mkdir -p /var/lib/docker/volumes/mongodb
ExecStartPre=-/usr/bin/docker kill mongodb
ExecStartPre=-/usr/bin/docker rm mongodb
ExecStartPre=/usr/bin/docker pull mongo:latest
ExecStart=/usr/bin/docker run -P -e SERVICE_TAGS=master -v /var/lib/docker/volumes/mongodb:/data/db {{ onelove_docker_default_arguments }} --name mongodb mongo:latest
ExecStop=/usr/bin/docker stop mongodb

[Install]
WantedBy=multi-user.target
